.quiz-page {
  background-color: #f8f9fa;
  min-width: 767px;
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.quiz-page__heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--text--dark-primary);
  margin-bottom: 30px;
}

.form-quiz {
  display: flex;
  flex-direction: column;
}

.form-quiz__item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-quiz__question {
  font-size: 18px;
  font-weight: 500;
}

.form-quiz__answer {
  margin-top: 10px;
  display: flex;

  input {
    margin-right: 10px;
    word-wrap: break-word;
    accent-color: #3b82f6;
    flex: 1;
  }
  label {
    margin-bottom: 0;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s color;
    flex: 99;
    &:hover {
      color: #1e40af;
    }
  }
}

@media (max-width: 767.87px) {
  .quiz-page {
    min-width: 0;
  }
}
