.home {
  font-family: "Poppins", sans-serif;
  text-align: center;

  .hero {
    background: var(--white);
    padding: 60px 20px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;

    h1 {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 10px;
      color: var(--text--dark-primary);
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .btn {
      background: var(--orchid-purple);
      color: #fff;
      padding: 12px 25px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 5px #6c4298;

      &:hover {
        transform: translateY(6px);
        box-shadow: 0 0 #6c4298;
      }
    }
  }

  .features {
    background: #fff;
    padding: 60px 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;

    .container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      max-width: 1000px;
      margin: auto;
    }

    .feature-item {
      flex: 1;
      background: #f1f5f9;
      padding: 30px;
      border-radius: 10px;
      border: 1px solid #e0e7ff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
      transition: 0.3s;
      text-align: center;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
      }

      i {
        font-size: 40px;
        color: #9333ea;
        margin-bottom: 15px;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #1e3a8a;
      }

      p {
        font-size: 14px;
        color: #6b7280;
      }
    }
  }

  .cta {
    padding: 60px 20px;
    background: #ecddff;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #6b21a8;
    }

    .btn {
      background: #f2f2f2;
      color: #5d2057;
      padding: 12px 25px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 5px #ccc;

      &:hover {
        box-shadow: none;
        transform: translateY(6px);
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .features .container {
    flex-direction: column;
    gap: 30px;
  }
}
