.topic-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ddd;

  &__heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text--dark-primary);
  }

  &__table {
    width: 100%;
    min-width: 767px;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  &__table-header {
    background-color: #f3f4f6;
    padding: 12px;
    text-align: left;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    color: #4b5563;
  }

  &__table-row:nth-child(even) {
    background-color: #f9fafb;
  }

  &__table-row:hover {
    background-color: var(--lilac-100);
  }

  &__table-cell {
    padding: 12px;
    text-align: left;
    font-size: 18px;
    border: 1px solid #e5e7eb;

    i {
      font-size: 24px;
      color: var(--text--dark-primary);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
.btn-purple {
  background: var(--orchid-purple);
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px #6c4298;

  &:hover {
    transform: translateY(6px);
    box-shadow: 0 0 #6c4298;
  }
}
.btn-green {
  background: #4caf50;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px #2e7d32;

  &:hover {
    transform: translateY(6px);
    box-shadow: 0 0 #2e7d32;
  }
}
.btn-red {
  background: #f44336;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px #c62828;

  &:hover {
    transform: translateY(6px);
    box-shadow: 0 0 #c62828;
  }
}
.btn-gray {
  background: #f2f2f2;
  color: #5d2057;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px #ccc;

  &:hover {
    box-shadow: none;
    transform: translateY(6px);
  }
}
