.result {
  color: rgb(243, 74, 74);
}

.quiz-page h2 {
  margin-bottom: 10px;
}
.result__tag {
  margin-left: 10px;
  font-weight: 600;
}
.result__tag i {
  font-size: 30px;
}
.result__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result__tag--true {
  color: green;
}

.result__tag--false {
  color: red;
}

.result__item--selected {
  color: red;
}

.result__item--result {
  color: green;
}
